Introduction

This notebook explores different functionalities of the pandas library.

In [ ]:
#Creating a dataframe to store the passenger data of the Titanic

import pandas as pd
df = pd.DataFrame(
    {'Name' : [
        'Braund, Mr. Owen Harris',
        'Allen, Mr. William Henry',
        'Bonnell, Miss. Elizabeth'
        ],
    'Age' : [22,35,58],
    'Sex' : ['Male', 'Male', 'Female']


    }

)
print(df.head()) #each column in a dataframe is a series

#Extracting a single column from a dataframe

df['Age'] #a pandas series has no column labels as it is a single column of a dataframe. It does have row labels.

In [ ]:
#Creating a series from scratch

ages = pd.Series([21,22,23], name = 'Age')

#Performing operation on Dataframe or Series

print(df['Age'].mean().__round__(2))

print(ages.min())

#Getting the basic statistics of the numerical data 

df.describe()

In [ ]:
#Reading the titanic data and storing it as a pandas dataframe

titanic = pd.read_csv('/workspaces/Pandas/Datasets/titanic.csv')

#Displaying the first 8 rows

titanic.head(8)

#Displaying the last 10 rows
titanic.tail(10)

#Checking how pandas interpreted each of the column datatype

titanic.dtypes

In [41]:
#Extracting the titanic dataset in a csv format
#titanic.to_excel('titanic.xlsx', sheet_name= 'Passenger', engine = 'xlsxwriter')

#Getting a technical summary of the dataframe

titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB