Introduction

This notebook explores different functionalities of the pandas library.

In [ ]:
#Creating a dataframe to store the passenger data of the Titanic

import pandas as pd
df = pd.DataFrame(
    {'Name' : [
        'Braund, Mr. Owen Harris',
        'Allen, Mr. William Henry',
        'Bonnell, Miss. Elizabeth'
        ],
    'Age' : [22,35,58],
    'Sex' : ['Male', 'Male', 'Female']


    }

)
print(df.head()) #each column in a dataframe is a series

#Extracting a single column from a dataframe

df['Age'] #a pandas series has no column labels as it is a single column of a dataframe. It does have row labels.

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    Male
1  Allen, Mr. William Henry   35    Male
2  Bonnell, Miss. Elizabeth   58  Female

0    22
1    35
2    58
Name: Age, dtype: int64

In [19]:
#Creating a series from scratch

ages = pd.Series([21,22,23], name = 'Age')

#Performing operation on Dataframe or Series

print(df['Age'].mean().__round__(2))

print(ages.min())

#Getting the basic statistics of the numerical data 

df.describe()

38.33
21

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000